*{
    font-family: 'Roboto', sans-serif;
}
li a:hover{
    background-color:#FABE4C ;
    border-radius: 10px;
    color: white;
}
.btn-coustom{
    background-color: #9BB633;
    color: white;
    padding: 15px;
    border-radius: 10px;
}
.b-radious{
    border-radius: 20px;
}
.txt-highlight{
    color: #FABE4C;
}
.txt-highlight-2{
    color: #A4BC46;
}
.txt-highlight-3{
    color:#363958 ;
}